<li class="accordion">
  <h2 class="accordion-header">
    <button id="{{ buttonId }}"
            aria-expanded="true"
            aria-controls="{{ panelId }}"
            class="accordion-header-button">
      <span>{{- question -}}</span>
      <img src="images/icon-arrow-down.svg" alt="">
    </button>
  </h2>
  <div id="{{ panelId }}"
       role="region"
       aria-labelledby="{{ buttonId }}"
       class="accordion-panel flow">
    <div class="accordion-panel-wrapper">
      {{- answer | markdown | safe -}}
    </div>
  </div>
</li>
