.accordion {
  --border-color: var(--color-light);
  --padding: var(--space-s);

  /* Add top and bottom borders */
  border-top: 1px solid var(--border-color);
  &:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  &-header {
    font-size: var(--step-1);
    font-weight: var(--weight-regular);
    line-height: 1.2;

    &-button {
      color: var(--color-dark-glare);
      border: none;
      width: 100%;
      padding-block: var(--padding);
      background: none;
      text-align: left;
      padding-inline: 0;
      display: flex;
      gap: 1em;

      /* Clicks should always register on the button, not on child elements */
      > * {
        pointer-events: none;
      }

      img {
        width: 0.7em;
        height: 100%;
        margin-block: auto;
        margin-inline: auto var(--space-3xs-s);
        transition: 200ms;
      }

      &[aria-expanded='true'] {
        font-weight: var(--weight-bold);
        color: var(--color-dark);

        img {
          transform: rotateX(180deg);
        }
      }

      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }
  }

  &-panel {
    color: var(--color-light-shade);

    /* Add simple animation to show/hide panels */
    /* https://www.youtube.com/watch?v=B_n4YONte5A */
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms;

    &:not([aria-hidden='true']) {
      grid-template-rows: 1fr;
    }

    &-wrapper {
      overflow: hidden;
    }

    p:last-child {
      padding-bottom: var(--padding);
    }
  }
}
