/* @link https://utopia.fyi/space/calculator?c=320,12,1.2,1000,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7,l-2xl|3xs-s&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.19rem, calc(0.16rem + 0.15vw), 0.25rem);
  --space-2xs: clamp(0.38rem, calc(0.32rem + 0.29vw), 0.5rem);
  --space-xs: clamp(0.56rem, calc(0.47rem + 0.44vw), 0.75rem);
  --space-s: clamp(0.75rem, calc(0.63rem + 0.59vw), 1rem);
  --space-m: clamp(1.13rem, calc(0.95rem + 0.88vw), 1.5rem);
  --space-l: clamp(1.5rem, calc(1.26rem + 1.18vw), 2rem);
  --space-xl: clamp(2.25rem, calc(1.9rem + 1.76vw), 3rem);
  --space-2xl: clamp(3rem, calc(2.53rem + 2.35vw), 4rem);
  --space-3xl: clamp(4.5rem, calc(3.79rem + 3.53vw), 6rem);
  --space-4xl: clamp(5.25rem, calc(4.43rem + 4.12vw), 7rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.19rem, calc(0.04rem + 0.74vw), 0.5rem);
  --space-2xs-xs: clamp(0.38rem, calc(0.2rem + 0.88vw), 0.75rem);
  --space-xs-s: clamp(0.56rem, calc(0.36rem + 1.03vw), 1rem);
  --space-s-m: clamp(0.75rem, calc(0.4rem + 1.76vw), 1.5rem);
  --space-m-l: clamp(1.13rem, calc(0.71rem + 2.06vw), 2rem);
  --space-l-xl: clamp(1.5rem, calc(0.79rem + 3.53vw), 3rem);
  --space-xl-2xl: clamp(2.25rem, calc(1.43rem + 4.12vw), 4rem);
  --space-2xl-3xl: clamp(3rem, calc(1.59rem + 7.06vw), 6rem);
  --space-3xl-4xl: clamp(4.5rem, calc(3.32rem + 5.88vw), 7rem);

  /* Custom pairs */
  --space-l-2xl: clamp(1.5rem, calc(0.32rem + 5.88vw), 4rem);
  --space-3xs-s: clamp(0.19rem, calc(-0.19rem + 1.91vw), 1rem);
}
