/* @link https://utopia.fyi/space/calculator?c=320,12,1.2,1440,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7,l-2xl|3xs-s&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.19rem, calc(0.13rem + 0.27vw), 0.38rem);
  --space-2xs: clamp(0.38rem, calc(0.27rem + 0.54vw), 0.75rem);
  --space-xs: clamp(0.56rem, calc(0.4rem + 0.8vw), 1.13rem);
  --space-s: clamp(0.75rem, calc(0.54rem + 1.07vw), 1.5rem);
  --space-m: clamp(1.13rem, calc(0.8rem + 1.61vw), 2.25rem);
  --space-l: clamp(1.5rem, calc(1.07rem + 2.14vw), 3rem);
  --space-xl: clamp(2.25rem, calc(1.61rem + 3.21vw), 4.5rem);
  --space-2xl: clamp(3rem, calc(2.14rem + 4.29vw), 6rem);
  --space-3xl: clamp(4.5rem, calc(3.21rem + 6.43vw), 9rem);
  --space-4xl: clamp(5.25rem, calc(3.75rem + 7.5vw), 10.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.19rem, calc(0.03rem + 0.8vw), 0.75rem);
  --space-2xs-xs: clamp(0.38rem, calc(0.16rem + 1.07vw), 1.13rem);
  --space-xs-s: clamp(0.56rem, calc(0.29rem + 1.34vw), 1.5rem);
  --space-s-m: clamp(0.75rem, calc(0.32rem + 2.14vw), 2.25rem);
  --space-m-l: clamp(1.13rem, calc(0.59rem + 2.68vw), 3rem);
  --space-l-xl: clamp(1.5rem, calc(0.64rem + 4.29vw), 4.5rem);
  --space-xl-2xl: clamp(2.25rem, calc(1.18rem + 5.36vw), 6rem);
  --space-2xl-3xl: clamp(3rem, calc(1.29rem + 8.57vw), 9rem);
  --space-3xl-4xl: clamp(4.5rem, calc(2.79rem + 8.57vw), 10.5rem);

  /* Custom pairs */
  --space-l-2xl: clamp(1.5rem, calc(0.21rem + 6.43vw), 6rem);
  --space-3xs-s: clamp(0.19rem, calc(-0.19rem + 1.88vw), 1.5rem);
}
