/* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1440,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.52rem, calc(0.46rem + 0.28vw), 0.72rem);
  --step--1: clamp(0.63rem, calc(0.55rem + 0.39vw), 0.9rem);
  --step-0: clamp(0.75rem, calc(0.64rem + 0.54vw), 1.13rem);
  --step-1: clamp(0.9rem, calc(0.76rem + 0.72vw), 1.41rem);
  --step-2: clamp(1.08rem, calc(0.89rem + 0.97vw), 1.76rem);
  --step-3: clamp(1.3rem, calc(1.04rem + 1.29vw), 2.2rem);
  --step-4: clamp(1.56rem, calc(1.21rem + 1.7vw), 2.75rem);
  --step-5: clamp(1.87rem, calc(1.42rem + 2.24vw), 3.43rem);
}
