/* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1000,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.52rem, calc(0.46rem + 0.28vw), 0.64rem);
  --step--1: clamp(0.63rem, calc(0.54rem + 0.41vw), 0.8rem);
  --step-0: clamp(0.75rem, calc(0.63rem + 0.59vw), 1rem);
  --step-1: clamp(0.9rem, calc(0.74rem + 0.82vw), 1.25rem);
  --step-2: clamp(1.08rem, calc(0.85rem + 1.14vw), 1.56rem);
  --step-3: clamp(1.3rem, calc(0.99rem + 1.55vw), 1.95rem);
  --step-4: clamp(1.56rem, calc(1.14rem + 2.09vw), 2.44rem);
  --step-5: clamp(1.87rem, calc(1.31rem + 2.79vw), 3.05rem);
}
