:root {
  --color-dark: hsl(238 29% 16%);
  --color-dark-glare: hsl(237 12% 33%);
  --color-light: hsl(240 5% 91%);
  --color-light-shade: hsl(240 6% 50%);
  --color-light-glare: hsl(0 0% 100%);
  --color-primary: hsl(14 88% 65%);
  --color-secondary: hsl(240 73% 65%);
  --color-tertiary: hsl(273 75% 66%);

  --text-body: 12px;
  --font-base: 'Kumbh Sans', sans-serif;
  --weight-regular: 400;
  --weight-bold: 700;

  --measure: 60ch;

  --bg-gradient: linear-gradient(
    0deg,
    hsl(240deg 73% 65%) 0%,
    hsl(251deg 74% 65%) 39%,
    hsl(262deg 74% 65%) 61%,
    hsl(273deg 75% 66%) 100%
  );

  --shadow-color: 240deg 56% 40%;
  --shadow-elevation-low: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
    0px 0.7px 0.8px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 1.8px 2px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.36),
    0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 3.7px 4.2px -1.7px hsl(var(--shadow-color) / 0.36),
    0px 8.9px 10px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
    0px 2.6px 2.9px -0.4px hsl(var(--shadow-color) / 0.34),
    0px 4.9px 5.5px -0.7px hsl(var(--shadow-color) / 0.34),
    0px 8px 9px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.1px 12.8px 14.4px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.1px 20px 22.5px -1.8px hsl(var(--shadow-color) / 0.34),
    -0.1px 30.3px 34.1px -2.1px hsl(var(--shadow-color) / 0.34),
    -0.2px 44.7px 50.3px -2.5px hsl(var(--shadow-color) / 0.34);
}
